@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2 {
  font-weight: 700;
  padding-bottom: 0.4em;
  line-height: 1em;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
  color: #7b6cff;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

p {
  margin-bottom: 1.5em;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Montserrat;
  font-size: calc(112.5% + 0.1vw);
  position: relative;
  color: #111111;
  line-height: 1.5em;
}

a {
  color: #e35296;
}

section {
  padding: 0;
  margin: 0;
}

.minmax, #musical .bandeja {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-columns: (minmax(max-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-max-content, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}

.lineaLatP {
  border-left: solid 3px #e35296;
  padding-left: 1em;
}

.gridGeneral, #who, #cultural, #musical, #relativo, #meet, #comite, #forma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

.grid2col, #who .bandeja, #forma .bandeja {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 479px) {
  .grid2col, #who .bandeja, #forma .bandeja {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu-toggle {
  position: fixed;
  right: 2vh;
  top: 2vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: #de9031;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}

button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.anima, #menuFull a, #inicio .btn, #inicio #izq ul li, #relativo #adela {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@-webkit-keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 10vh;
  }
}

@keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 10vh;
  }
}

@-webkit-keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 0%;
    height: 100vh;
  }
}

@keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 0%;
    height: 100vh;
  }
}

#menuFull {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 0vh;
  background-color: #2938a1;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#menuFull ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  margin: 0;
  height: 65vh;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 479px) {
  #menuFull ul {
    height: 50%;
    max-width: 100%;
  }
}

#menuFull li {
  margin: 0.5em 1em;
  text-align: center;
  display: inline-block;
}

#menuFull a {
  position: relative;
  font-size: 1.3em;
  color: #fff;
}

@media (max-width: 479px) {
  #menuFull a {
    font-size: 1.3em;
  }
}

#menuFull a:hover,
#menuFull .active {
  font-weight: bold;
  color: #2938a1;
}

#menuFull a:hover::before,
#menuFull .active::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background-color: #2938a1;
  position: absolute;
  top: 0.45em;
  left: -0.7em;
  border-radius: 50vh;
}

.menuFullAbierto {
  -webkit-animation: menuAbierto 1.2s ease forwards;
          animation: menuAbierto 1.2s ease forwards;
}

.desanimaMenu {
  animation: menuCerrado 1s ease forwards reverse;
}

#inicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media (max-width: 479px) {
  #inicio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#inicio .btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #e35296;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 5em;
  margin: 2em 1.5em;
}

#inicio .btn:hover {
  background: #2938a1;
}

#inicio #izq {
  padding: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 479px) {
  #inicio #izq {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #inicio #izq #logo {
    max-width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

#inicio #izq ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#inicio #izq ul li {
  padding: 0.4em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 70px;
}

#inicio #izq ul li:hover {
  /* IE 9 */
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

#who {
  background: #7b6cff;
  background: url("../img/pecas_moradas.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(30%, #7b6cff), to(#1c3091));
  background: url("../img/pecas_moradas.svg") no-repeat, linear-gradient(180deg, #7b6cff 30%, #1c3091 100%);
  background-size: 50%;
  background-position: top right;
  color: #fff;
}

#who img {
  grid-column: 1 / -1;
  margin-bottom: -2px;
}

#who .bandeja {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: inherit;
}

#who .bandeja h1 {
  margin-top: 2em;
}

#who .bandeja h1,
#who .bandeja h2 {
  grid-column: 1/-1;
}

#who #a,
#who #b {
  padding: 3em;
}

@media (max-width: 479px) {
  #who #a,
  #who #b {
    padding: 1em;
  }
}

#who #b {
  margin-top: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 479px) {
  #who #b {
    margin-top: 0;
    display: block;
  }
}

#cultural {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #e35296), to(#af3bb1));
  background: linear-gradient(180deg, #e35296 30%, #af3bb1 100%);
  color: #fff;
}

#cultural img {
  grid-column: 1 / -1;
}

#cultural .bandeja {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: inherit;
}

#cultural .bandeja p {
  padding: 0em 15%;
}

@media (max-width: 479px) {
  #cultural .bandeja p {
    padding: 1em 1em 0;
  }
}

#cultural .bandeja h1 {
  margin-top: 2em;
}

#cultural .bandeja h1,
#cultural .bandeja h2 {
  grid-column: 1/-1;
}

#cultural .bandeja h2 {
  margin-bottom: 3em;
}

#cultural #baseBlanca {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
}

#musical .bandeja {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#musical .bandeja h1 {
  margin-top: 2em;
  color: #e35296;
  margin-bottom: 3em;
  grid-column: 1/-1;
}

#musical .bandeja img {
  grid-column: 1/-1;
}

#musical .bandeja .a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 3em;
}

@media (max-width: 479px) {
  #musical .bandeja .a {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1600px) {
  #musical .bandeja .a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
}

#musical .bandeja .b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 6em;
}

@media (max-width: 479px) {
  #musical .bandeja .b {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1600px) {
  #musical .bandeja .b {
    grid-column: 3 / -1;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  #musical .bandeja .b {
    grid-column: 1/-1;
  }
}

#musical h3,
#musical p {
  -ms-grid-column: 2;
  grid-column: 2;
}

#musical #videoMusical {
  grid-column: 1/-1;
  position: relative;
}

#musical #videoMusical:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background: url("../img/copeteVideo.svg") no-repeat 0% -5px;
  z-index: 900;
}

#musical #videoMusical:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background: url("../img/baseVideo.svg") no-repeat 100% 102%;
  z-index: 900;
  bottom: 0;
}

#musical span {
  color: #de9031;
  font-style: italic;
}

#musical .c,
#musical .d {
  grid-column: 1/-1;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  #musical .c,
  #musical .d {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#musical .c img,
#musical .d img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#musical .c .lineaLatP,
#musical .d .lineaLatP {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 2.5em;
}

#musical .c {
  padding-right: 7%;
}

@media (max-width: 479px) {
  #musical .c {
    padding-right: 0%;
  }
}

#musical .d {
  padding-left: 7%;
}

@media (max-width: 479px) {
  #musical .d {
    padding-left: 0%;
  }
  #musical .d .lineaLatP {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#musical .e {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#musical .e h3 {
  margin: 5em 0 3em;
}

#musical .e p {
  padding-right: 35%;
}

@media (max-width: 479px) {
  #musical .e p {
    padding-right: 0%;
  }
}

#musical .finMusical .lineaLatP {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media (max-width: 479px) {
  #musical .finMusical .lineaLatP {
    grid-column: 1 / -1;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  #musical .finMusical .lineaLatP {
    grid-column: 1/-1;
  }
}

@media (min-width: 1600px) {
  #musical .finMusical .lineaLatP {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
}

#relativo {
  grid-column: 1/-1;
  position: relative;
}

#relativo #adela {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 7%;
  top: 50%;
  z-index: 500;
  margin-top: -40px;
}

@media (max-width: 479px) {
  #relativo #adela {
    width: 50px;
    height: 50px;
    top: auto;
    bottom: 3.5%;
    left: 50%;
  }
}

#relativo #adela:hover {
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
}

#sliderMusical {
  grid-column: 2/-1;
  margin: 3em 0;
  position: relative;
}

@media (max-width: 479px) {
  #sliderMusical {
    grid-column: 1/-1;
  }
}

#sliderMusical .recuadro {
  grid-column: 1/-1;
  background-color: #de9031;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  border-radius: 5em 0 0 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
}

@media (max-width: 479px) {
  #sliderMusical .recuadro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#sliderMusical .recuadro .numero {
  color: #fffb21;
  font-weight: 700;
  padding: 0.8em;
  font-size: 4.5em;
}

#sliderMusical .recuadro .texto {
  padding-right: 20%;
}

@media (max-width: 479px) {
  #sliderMusical .recuadro .texto {
    padding: 0 10%;
  }
}

#sliderMusical .recuadro .texto span {
  color: #fffb21;
  font-weight: bold;
  font-style: normal;
}

.logosExtras {
  padding-top: 3em;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
  padding: 1em;
}

.slider {
  grid-column: 1/-1;
  padding: 5em 0;
}

#meet {
  margin-top: 8em;
}

#meet h1 {
  color: #e35296;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  margin-bottom: 3em;
}

#meet .bandeja {
  display: inherit;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 767px) and (max-width: 1023px) {
  #meet .bandeja {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  #meet .bandeja {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#meet .nino {
  background-color: #e35296;
  color: #fff;
  text-align: center;
  padding: 2em;
  margin: 0.8em;
  border-radius: 3em;
}

#meet .nino:last-child {
  margin-bottom: 5em;
}

#meet .nino:nth-child(3n + 1) {
  background-color: #de9031;
  transform: none;
  -webkit-transform: none;
}

#meet .nino:nth-child(3n + 2) {
  background-color: #2938a1;
  transform: translateY(4em);
  -webkit-transform: translateY(4em);
}

#meet .nino:nth-child(3n + 3) {
  background-color: #e35296;
  transform: none;
  -webkit-transform: none;
}

@media (min-width: 767px) and (max-width: 1023px) {
  #meet .nino:nth-child(2n + 1) {
    background-color: #de9031;
    transform: none;
    -webkit-transform: none;
  }
  #meet .nino:nth-child(2n + 2) {
    background-color: #2938a1;
    transform: translateY(4em);
    -webkit-transform: translateY(4em);
  }
  #meet .nino:nth-child(3n + 2) {
    background-color: #e35296;
  }
}

@media (max-width: 479px) {
  #meet .nino:nth-child(2n + 1) {
    background-color: #de9031;
    transform: none;
    -webkit-transform: none;
  }
  #meet .nino:nth-child(2n + 2) {
    background-color: #2938a1;
    transform: none;
    -webkit-transform: none;
  }
  #meet .nino:nth-child(3n + 2) {
    background-color: #e35296;
  }
}

#meet .nino img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  max-width: 300px;
}

#meet .nino .pais {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.8em 0;
}

#meet .nino .nombre {
  font-size: 1.1em;
  padding-bottom: 0.8em;
}

#meet .nino .des {
  padding-top: 0.8em;
  border-top: 1px solid #fff;
}

#comite {
  margin: 0;
  background-color: #2938a1;
}

#comite h1 {
  color: #fff;
  grid-column: 1/-1;
  padding: 1em 0;
}

#comite img {
  grid-column: 1/-1;
  width: 100%;
}

#comite img:first-child {
  margin-top: -1px;
}

#comite .bandeja {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#comite .elcomite {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1em;
  text-align: center;
}

#comite .elcomite img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  max-width: 250px;
}

@media (max-width: 479px) {
  #comite .elcomite img {
    max-width: 100px;
  }
}

#comite .elcomite h3 {
  color: #fff;
}

#forma {
  margin-top: 8em;
}

#forma h2 {
  color: #de9031;
  font-weight: bold;
  margin-bottom: 2em;
}

#forma .bandeja {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  display: -ms-grid;
  display: grid;
}

#forma .bandeja #canciones {
  color: #2938a1;
}

#forma .bandeja #canciones ul {
  margin-bottom: 3em;
}

@media (max-width: 479px) {
  #forma .bandeja #canciones ul li {
    padding-bottom: 0.5em;
  }
}

#forma .bandeja #canciones #album {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 479px) {
  #forma .bandeja #canciones #album {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 2em;
  }
}

#forma .bandeja #canciones #album img {
  padding: 0.1em;
}

@media (max-width: 479px) {
  #forma .bandeja #canciones #album img {
    padding: 0;
  }
}

#forma .bandeja #canciones #album #stream {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
}

@media (max-width: 479px) {
  #forma .bandeja #canciones #album #stream {
    padding: 0 0 0 1em;
  }
}

#forma .bandeja #canciones #album #stream p {
  grid-column: 1/-1;
  color: #de9031;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#forma .bandeja #canciones #album #stream a {
  padding: 0.5em;
}

#forma .bandeja #canciones #album #stream a:last-child {
  grid-column: 1/-1;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */